.footer{
    position: relative;
    height: 285px;
    left: 0%;
    right: 0%;
    bottom: 0px;
    background: #201623;
    border-radius: 0px;
    width: 100vw;
}

.footerContainer{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
    justify-content: space-between;
}


.flexColoumnFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.casadiaFooter{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
}

.USCLogo{
    /* height: 58px; */
    height: auto;
    width: 190px;
}

.footerTitle{
    font-size: 25px;
    line-height: 25px;
}


.flexRowFooter{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.socials{
    gap: 30px;
}

.socialIcon{
    margin-top: 20px;
    width: 28px;
    height: 28px;

}

.deskOnly{
    display: inline-flex;
}

.mobileOnly{
    display: none;
}


.casadiaLinksFooter{
    font-size: 15px;
    line-height: 24px;
}
.pagesRow{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
@media only screen and (max-width: 768px) {
    .footer{
        height: 498px;
    }
    .footerContainer{
        width: 90vw;
        flex-direction: column;
        padding: 0;
        padding-top: 50px;
        align-items: flex-start;
        gap: 20px;
    }
    .deskOnly{
        display: none;
    }

    .mobileOnly{
        display: block;
    }
    .pagesRow{
        gap: 80px;
    }
    .footerLogo{
        align-self: center;
        text-align: center;
    }
    .USCLogo{
        align-self: center;
    }
}


label{
    display: unset !important;
    color: #F0F0F0;
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 400;
}