@font-face {
  font-family: Cascadia;
  src: url(../../assets/fonts/CascadiaCode.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto-Light.ttf);
}

.mainDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;;
}


.divContainer{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div{
    display: flex;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.div1 {
  height: 669px;
  background-image: url("./AssetsImgMain/Background\ 2.jpg");
}

.div2 {
    height: 626px;
    background-image: url("./AssetsImgMain/Background\ 4.jpg");
}

.div3 {
    height: 548px;
    background-image: url("./AssetsImgMain/Background\ 4.jpg");
}   

.div4 {
    height: 1335px;
    background-image: url("./AssetsImgMain/Background.png");
}

.div5 {
    height: 881px;
    background-image: url("./AssetsImgMain/Background\ 7.jpg");
}

.div6 {
    height: 717px;
    background-image: url("./AssetsImgMain/Background\ 7.jpg");
}

.div7 {
    height: 893px;
    background-image: url("./AssetsImgMain/Background\ 5.jpg");
}


.div8 {
    height: 626px;
    background-image: url("./AssetsImgMain/Background\ 4.jpg");
}


.div9 {
    height: 744px;
    background-image: url("./AssetsImgMain/Background\ 4.jpg");
}

.div10 {
    height: auto;
    background-image: url("./AssetsImgMain/Background\ 4.jpg");
    padding-top: 70px;
    padding-bottom: 70px;
}

.mainLogo{
    width: 532px;
    height: 249px;
}

.USCLogo{
    width: 323px;
    height: 98px;
    padding-bottom: 10px;

}

.cubeImg{
    margin-top: 150px;
    width: 516px;
    height: 486px;
}

.cubesImg2{
    width: 590px;
    height: 534px;
}

.mvpUIImg{
    width: 365.83px;
    height: 215.24px;
    align-self: flex-end;
}

.machineImg{
    margin-left: 140px;
    width: 200.06px;
    height: 400px;
}

.roadmapImg{
    width: 1310px;
    height: 385px;
}

.TokenomicsImg{
    width: 490px;
    height: 490px;
}

.ColorLegendsImg{
    width: 452px;
    height: 446px;
}

.userImg{
    width: 72px;
    height: 72px;
}
.generatorImg{
    position: absolute;
    width: 1114px;
    height: 602px;
    left: 16%;
    right: 15.49%;
    margin-top: 180px;

}

.flexColoumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.casadia{
    font-family: 'Cascadia' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 42px !important;
    line-height: 47px !important;
    color: #F0F0F0;
}

.green{
    color: #49E0B3;
}

.blue{
    color: #017BCB
}

.pDiv3{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    text-align: left;
}


.pDiv4{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}


.alignLeft{
    align-items: flex-start;
    gap: 50px;
}

.gap{
    gap:50px;
}

.chainBox{
    width: 403px;
    height: 457px;
    box-sizing: border-box;
    background: rgba(27, 19, 26, 0.89);
    border: 2px solid #F0F0F0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 30px;
    align-items: flex-start;
    padding: 40px;
    font-size: 30px;
    line-height: 36px;
}

.teamBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}


.TeamBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 20px;
    /* padding: 20px; */
    width: 293px;
    height: 292px;
    background: rgba(27, 19, 26, 0.89);
    border: 2px solid rgba(173, 173, 173, 0.89);
    border-radius: 25px;
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF; 
    flex-wrap: wrap;
    margin: 15px;
}

.chainText{
    font-size: 16px;
    line-height: 24px;
    color: #D1D1D1;
}

.userLinkedin{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;    
    color: #49E0B3 !important;
    width: inherit;
}

.userText{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #D1D1D1;
}

.mvpLabelGreen{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #49E0B3;
}

.mvpLabel{
    font-family: 'Cascadia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* identical to box height, or 160% */
    
    
    color: #FFFFFF;
    
}


.uscToken{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
}

.deskOnly{
    display: inline-flex;
}

.mobileOnly{
    display: none;
}

.marginMobile{
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .casadia{
        font-size: 28px !important;
        line-height: 45px !important;
    }
    .textWhite{
        font-family: 'Cascadia';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        text-align: center;
        color: #F0F0F0;
    }
    
    .divContainer{
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainLogo{
        width: 228px;
        height: 107px;
    }
    .deskOnly{
        display: none;
    }
    
    .mobileOnly{
        display: block;
    }
    
    .div1 {
        height: 327px;
        background-image: url("./uscMobile/IMAGE.png");
    }
    
    .div2 {
        height: 540px;
        background-image: url("./AssetsImgMain/Background\ 4.jpg");
    }
    
    .div3 {
        height: 615px;
        background-image: url("./uscMobile/IMAGE\ \(2\).png");
    }   
    
    .div4 {
        height: 1314px;
        background-image: url("./uscMobile/IMAGE\ \(3\).png");
    }
    
    .div5 {
        height: 578px;
        background-image: url("./uscMobile/IMAGE\ \(4\).png");
    }
      
    .div6 {
        height: 1378px;
        background-image: url("./uscMobile/IMAGE\ \(5\).png");
    }
    
    .div7 {
        height: 1265px;
        background-image: url("./uscMobile/IMAGE\ \(7\).png");
    }
    
    
    .div8 {
        height: 300px;
        background-image: url("./uscMobile/IMAGE\ \(8\).png");
    }
    
    
    .div9 {
        height: 954px;
        background-image: url("./AssetsImgMain/Background\ 4.jpg");
    }
    
    .div10 {
        height: 3111px;
        background-image: url("./uscMobile/IMAGE\ \(8\).png");
        padding: 0;
    }
    
    .cubeImg{
        width: 288px;
        height: 271px;
        align-self: end;

    }

    .USCLogo{
        width: 176px;
        height: 53px;
    }

    .flexColoumn{
        align-items: center;
    }

    .cubeImg{
        margin: 0;
    }

    .cubesImg2{
        width: 360px;
        height: 326px;
    }

    .generatorImg{
        position: relative;
        width: inherit;
        height: 194px;
        left: 0;
        top: -300px;
        flex-wrap: wrap;
    }

    .machineImg{
        width: 176.45px;
        height: 298.02px;
        align-self: center;
        margin: 0;
    }

    .roadmapImg{
        width: inherit;
        height: 106px;
    }

    .TokenomicsImg{
        width: 360px;
        height: 360px;
    }

    .ColorLegendsImg{
        width: 360px;
        height: 355px;
    }

    .mvpUIImg{
        width: 271.93px;
        height: 155.13px;
        align-self: center;
        margin-top: 30px;
    }

    .uscToken{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

    }

    .pDiv3{
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        z-index: 1;
    }

    .pDiv4{
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
    }

    .flexMobile{
        display: flex;
        flex-direction: column;
    }

    .chainBox{
        padding: 25px;
        height: 374px;
        width: 90vw;
        line-height: 10px;
        gap: 20px;
    }

    .chainTitle{
        font-family: 'Cascadia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
    }

    .chainText{
        font-size: 16px;
        line-height: 24px;
    }

    .chainImg{
        height: 92px;
        width: 92px;
    }
    .mvpLabelGreen{
        align-self: flex-start;
    }
    .mvpLabel{
        font-size: 15px;
        line-height: 28px;
        align-self: flex-start;
    }
    .mvptext{
        align-self: flex-start;
    }

    .teamBoxes {
        width: 90vw;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .marginMobile{
        margin-top: 0px;
    }

    .TeamBox{
        height: 299px;
        width: inherit;
    }
    .gapChain{
        gap: 20px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1500px)  {
    .divContainer{
        width: 90vw;
    }
}

label{
    display: unset !important;
}