@font-face {
  font-family: montseratt;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montseratt-semi;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: hind;
  src: url(./fonts/Hind-Regular.ttf);
}

$black: #040506;
$bg: #151a20;
$border: rgba(224, 219, 219);
$navbarWidth: 290px;

//var(--defaultFontSize): 24px;

html {
  overflow-x: hidden;
  --accent: rgba(73, 224, 179, 1);
  --blue: rgba(4, 74, 184, 1);
  --white: rgba(255, 255, 255, 1);
  --defaultFontSize: 24px;
  --defaultMobFontSize: 20px;
}

body {
  font-size: 20px;
  position: relative;
  margin: 0;
  width: 100%;

  color: #ffffff;
  min-height: 100vh;
}

.mobOnly {
  display: none;
}

#root,
.app {
  width: 100%;
  position: relative;
  min-height: inherit;
}

header {
  position: absolute;
  z-index: 999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logoWrap {
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

main {
  background: $bg;
  min-height: inherit;
  display: flex;

  .introContainer {
    margin: auto;
    width: 500px;
    text-align: center;

    h2 {
      font-family: montseratt;
      font-size: 52px;
      margin-bottom: 12px;
    }

    button span {
      margin-left: 7px;
    }
  }
}

.modal {
  position: fixed;
  top: 45%;
  left: calc(50% + $navbarWidth/2);
  transform: translate(-50%, -50%);
  background-color: $black;
  padding: 20px 60px;
  z-index: 1000;
  box-shadow: 0px 4px 14px rgba(47, 61, 84, 0.35);
  border-radius: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  opacity: 0.4;
  z-index: 1000;
}

.connectModal ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Roboto", sans-serif;

  span {
    padding-top: 3px;
  }

  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.btn {
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: $black;
}

.btn:hover {
  background-color: rgb(243, 239, 239);
}

.mintBtn {
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 12px;
}

.exchangeModal {
  flex: auto;
  padding: 15px 30px;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: unset;
  padding-top: 50px;

  .trasferWrap {
    display: flex;
    flex-direction: column;
  }

  .transferRow {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .convertorWrap {
    margin: auto;
    text-align: center;
    border: 1px solid $border;
    width: 100%;
    padding: 0 10px;
  }

  .exchangeWrapper {
    width: 100%;
  }

  .exchangeWrapper > p {
    margin: 15px 0;
  }

  ul.convertorList {
    padding: 10px 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .lefty {
      justify-content: flex-start;
    }

    .coinWrap,
    .inputWrap {
      display: flex;
      align-items: center;
      margin: 0 10px;
    }

    .coinWrap img {
      margin-right: 5px;
    }

    .inputWrap span,
    .to {
      font-size: 14px;
      color: rgb(196, 196, 190);
    }

    .inputWrap input {
      margin: 0 7px;
    }
  }
}

h2 {
  text-align: center;
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal {
  h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 8px 0;
  }
}

.statusModal {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .backBtn {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
  }

  .statusCode {
    margin: 10px 0;
  }

  .statusImg {
    width: 100px;
    margin: 10px auto;
  }

  .statusLogWrap {
    margin: 10px 0;

    p {
      margin: 0;
      margin-top: 7px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.statusModal.success,
.statusModal.pending {
  align-items: center;
}

.connectModal {
  position: absolute;
  z-index: 9000;
  top: 0;
  left: 0;
  width: calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px 0;
  border: 1px solid var(--white);

  .closeIcon {
    top: 10px;
  }

  li:hover {
    color: rgb(212, 212, 208);
  }
}

.connectModal.force {
  position: fixed;
  left: calc(50% - $navbarWidth);
  top: 50%;
  transform: translate(100%, -100%);
  width: 300px;
}

.crumbsWrapper {
  > ul {
    display: flex;
    margin-bottom: -1px;

    li {
      padding: 5px;
      border: 1px solid $border;
      margin-right: 5px;
      margin-bottom: 0;
      border-bottom: 0;
      cursor: pointer;
    }

    li.selected {
      border-bottom: 1px solid $black;
    }
  }
}

.dropdown {
  position: relative;
  width: 120px;

  ul {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    background-color: lighten($bg, 10%);
    width: 100%;
  }

  ul.expanded {
    display: block;
    margin-top: 13px;

    .dropVariant {
      background-color: unset;
    }

    li {
      background-color: $bg;
      cursor: pointer;
      border-top: 0.5px solid $border;
    }

    li:hover {
      background-color: lighten($bg, 15%);
    }
  }

  .dropVariant {
    display: flex;
    align-items: center;
    background-color: $bg;
    padding: 8px;
  }

  .drop {
    margin-left: 10px;
    cursor: pointer;
  }

  .drop:hover {
    filter: brightness(150%);
  }
}

.coinIcon {
  width: 30px;
  margin-right: 5px;
}

.AccountWrap {
  position: relative;
  width: 100%;

  .pannelBtn {
    position: relative;
    z-index: 9001;
  }
}

.AccountModal {
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: $black;
  padding: 10px;
  opacity: 0.8;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 9px;
  justify-content: flex-end;
  height: 250px;

  > p {
    font-size: 35px;
    text-align: center;
  }

  .separator {
    margin: 20px 0;
  }

  .timerWrapper {
    text-align: center;
    font-size: var(--defaultFontSize);
    p {
      line-height: 25px;
      font-size: var(--defaultFontSize);
      min-height: 100px;
    }

    .timer {
      text-align: right;
      color: var(--accent);
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  .accountSectionWrap {
    padding: 0 10px 10px 10px;
    border-top: 1px solid $border;

    p {
      padding-top: 10px;
      font-size: 16px;
    }
  }

  .accountCrumbs .accountSectionWrap ul {
    justify-content: space-between;

    padding-top: 10px;

    .balanceDenom {
      font-size: 16px;
    }

    .balanceDenom .timer {
      text-align: right;
      color: var(--accent);
    }

    .balanceDenom .timer.completed {
      color: var(--accent);
    }

    li:last-of-type {
      margin-right: 0;
    }

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.pageWrapper {
  height: 100vh;
  width: 100%;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("./img/new/Mint\ Background.png");
  background-size: cover;
}

.gridView {
  display: flex;
}

.navWrapper {
  position: fixed;
  height: 100%;
  width: $navbarWidth;
  border-right: 1px solid var(--white);
  left: 0;
  top: 0;
  font-family: "Roboto", sans-serif;

  .pannelBtn {
    font-size: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    padding: 13px 0;
    text-transform: unset;
  }

  .connectBtn {
    width: 100%;
    background: linear-gradient(180deg, #49e0b3 0%, #017ccc 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 12px 0;
    cursor: pointer;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
  }

  .navContainer {
    padding: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 151px;
  }

  img.cubes {
    position: absolute;
    bottom: 7px;
    width: 236px;
    left: 50%;
    transform: translateX(-40%);
  }

  .linksWrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px 0;

    img {
      width: 30px;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 100%;
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: var(--white);
    margin-bottom: 40px;
  }

  .navButton {
    background-color: transparent;
    border: 1px solid var(--white);
    text-transform: uppercase;
    font-size: calc(var(--defaultFontSize) * 0.9);
    transition: all 0.4s ease;
    margin-bottom: 32px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    padding: 7px;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: rgba(73, 224, 179, 0.4);
    }

    &:last-of-type {
      //margin-bottom: 0;
    }
  }

  .navButton.active {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: black;
  }

  .totalValueWrapper {
    text-align: center;
  }

  .totalValueWrapper p {
    font-size: calc(var(--defaultFontSize) * 1.15);
    line-height: calc(var(--defaultFontSize) * 1.15 + 7px);
    text-align: center;
    margin-bottom: 16px;
  }

  .totalValueWrapper span {
    color: var(--accent);
    margin: 0 auto;
    font-size: calc(var(--defaultFontSize) * 1.17);
  }
}

.pannelWrapper {
  padding-left: $navbarWidth;
  height: 100%;
  display: flex;
  font-family: "Roboto", sans-serif;

  .pannelContainer {
    margin: auto;
    padding: 33px 42px;
    border-radius: 10px;
    border: 1px solid var(--white);
    color: var(--white);
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(1, 124, 204, 0.26) 100%
    );
  }

  h2 {
    font-size: calc(var(--defaultFontSize) * 2.5);

    span {
      color: var(--accent);
    }
    padding-bottom: 60px;
  }

  .swapWrapper {
    display: flex;
    flex-direction: column;
  }

  .swapUnit p {
    font-size: calc(var(--defaultFontSize) * 0.9);
    margin-bottom: 20px;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inputWrapper input {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 10px;
    width: 207px;
    padding: 7px 0;
    text-align: center;
    margin-right: 20px;
    font-size: var(--defaultFontSize);

    &:focus {
      outline: 1px solid var(--accent);
    }
  }

  img.swapImg {
    width: 69px;
    margin: 40px auto;
  }

  .rateWrapper {
    margin: 32px 0;

    .rate {
      margin-bottom: 20px;
    }

    .rate,
    .fee {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: calc(var(--defaultFontSize) * 0.85);
    }
  }

  .coin {
    width: 207px;
    border-radius: 10px;
    padding: 9px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: calc(var(--defaultFontSize) * 0.85);
  }

  .uscCoin {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
  }

  .swapCoin {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: black;
  }
}

.pannelBtn {
  background-color: var(--accent);
  border: none;
  border: 1px solid var(--accent);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  font-size: var(--defaultFontSize);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
